<!--Page index des compositeurs-->
{% extends "conteneur.html" %}

{% block titre %}| Index des compositeurs{%endblock%}

{% block corps %}

{% if var_groupe_compositeurs %}
<h1 class="titre-index-notice">Index des compositeurs</h1>
<br/>

<p class="text-center">Il y a {{var_groupe_compositeurs.total}} compositeurs enregistrés dans la base de données :</p>
<br/>

<ul>
    {% for b_c in var_groupe_compositeurs.items %}
    <li><a href="{{url_for('notice_compositeur', id_compositeur=b_c.id_compositeur)}}">{{b_c.prenom_compositeur}}
        {{b_c.nom_compositeur}}</a></li>
    {% endfor %}
</ul>
<br/>
<br/>
<!-- Gestion de la pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page in var_groupe_compositeurs.iter_pages() %}
        {% if page %}

        {% if page != var_groupe_compositeurs.page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('index_compositeurs', page=page) }}">{{page}}</a>
        </li>
        {% else %}
        <li class="page-item active disabled">
            <a class="page-link">{{page}} <span>(actuelle)</span></a>
        </li>
        {% endif %}

        {% else %}
        <li class="page-item disabled">
            <a class="page-link">...</a>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</nav>


{% else %}
<div class="alert alert-danger" role="alert">
    <p class="text-center text-danger">La base de données est en cours de constitution...</p>
    <p class="text-center">Nous vous prions de bien vouloir nous excuser.</p>
</div>
{% endif %}

<br/>
<br/>
<div class="text-center"><a href="{{url_for('accueil')}}">Retour à l'accueil</a></div>

{% endblock %}